#root {
  text-align: center;
}

.case {
  width: 70px;
  height: 70px;
  background: lightgrey;
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.boardrow {
  display: flex;
  flex-direction: row;
}